<div *ngIf="destinazione">
  <h2>{{ destinazione.nome }}</h2>
  <img [src]="'http://127.0.0.1:8000/' + destinazione.immagine" alt="{{ destinazione.nome }}">
  <p>{{ destinazione.descrizione }}</p>

  <h3>Attrazioni</h3>
  <div class="grid">
    <div *ngFor="let attr of attrazioni" class="card">
      <ng-container *ngIf="attr.video; else imageBlock">
        <video width="300" controls>
          <source [src]="'http://127.0.0.1:8000/' + attr.video" type="video/mp4">
        </video>
      </ng-container>
      <ng-template #imageBlock>
        <img [src]="'http://127.0.0.1:8000/' + attr.immagine" alt="{{ attr.nome }}">
      </ng-template>

      <h4>{{ attr.nome }}</h4>
      <p>{{ attr.tipologia }}</p>
      <p>{{ attr.descrizione }}</p>
    </div>
  </div>
</div>
